:root {
  --primary-color: #71f335;
  --secondary-color: #41b70b;
  --tertiary-color: #228b22;
  --main-font-color: #eecffc;
  --navbar-height: 3rem;
  --actions-height: 3rem;
  --setup-wrapper-width: 30rem;
  --background-color: #110118;
  --primary-color-r: 113;
  --primary-color-g: 243;
  --primary-color-b: 53;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  height: 100vh;

  /* background: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--secondary-color),
    var(--tertiary-color)
  ); */
  color: var(--main-font-color);
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

@media (max-width: 568px) {
  :root {
    --navbar-height: 4rem;
    --setup-wrapper-width: 100%;
  }
}
