.playerCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0.3rem;
}

.title {
  margin-bottom: 1rem;
}

.playerCard > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.playerCard > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;
}

@media (max-width: 568px) {
  .playerCard {
    margin: 0;
    padding: 0;
  }

  .playerCard > ul > li {
    margin-bottom: 0.5rem;
  }
}
