.currentPlayer {
  font-size: 1.6rem;
  border: 3px solid var(--primary-color);
  border-radius: 0.5rem;
}

.playerTitle {
  display: flex;
  align-items: center;
  border-bottom: 3px solid var(--primary-color);
  justify-content: center;
  gap: 1rem;
}

.dealerButton,
.sbButton,
.bbButton {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 0.3rem;
  margin-right: 0.5rem;
}

.dealerButton {
  background-color: #333;
}

.sbButton {
  background-color: salmon;
}

.bbButton {
  background-color: lightseagreen;
}

.playerStats {
  height: 66%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playerStats div {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.playerStats label {
  margin-right: 0.5rem;
}

.playerStats span {
  font-weight: bold;
}

.playerStats,
.playerTitle {
  padding: 1rem;
}
