.mainInfoContainer {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1rem;
  gap: 1rem;
}

@media (max-width: 768px) {
  .mainInfoContainer {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}
