.mainInfoContainer {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px; /* Optional gap between grid items */
  min-height: 20rem;
}

@media (max-width: 568px) {
  .mainInfoContainer {
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 2fr;
  }
}
